* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    scrollbar-color: blue black;
 
}

.preload {
    position: fixed;
    width:100%;
    height: 100vh;
    background-color: black;
    z-index:99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.loadcomplete {
    animation: loadcomp 1s 4s forwards;
}
@keyframes loadcomp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    
    }
  
    
}
.browser {
    position:absolute;
    top: 80%;
    display: flex;
  
    align-items: center;
    flex-direction: column;
}
.preload span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(248, 41, 41);
    margin: 10px;
    
}
.preload p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    animation: load1 0.5s infinite alternate;
 
}
.preload .container1i{
    display: inline-block;
    height: 50px;
    
   
} 
@keyframes load1 {
    from {
        opacity: .6;
    }
    to {
        opacity:1;
    }
}
.progressw {
    width: 200px;
}
.windowprogress {
    height: 5px;
    background: hotpink;
   width:0px;
}
.dot {
    width:10px;
    height:10px;
    background: white;
    display:inline-block;
    border-radius: 40%;
    margin: 1px;
}
.dot1 {
    background: red;
    animation: load 0.5s alternate infinite ease-in-out;
}
.dot2 {
    background: rgb(207, 30, 163);
    animation: load 0.5s .1s alternate infinite ease-in-out;
}
.dot3 {
    background: rgb(240, 243, 33);
    animation: load 0.5s .2s alternate infinite ease-in-out;
}
@keyframes load {
    from {
        transform: translate(1px,8px);
        width: 7px;
        height: 7px;
        

    }
    to {
        transform: translate(0,0);
        width: 15px;
        height: 15px;
        opacity: .1;
    }
}
html {
    scroll-behavior: smooth;
  }


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: rgb(29, 28, 28);
    overflow-x: hidden;
    cursor: url('./icons_pack/cursor2.png'), auto;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
}
.up {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: chartreuse;
    left: 95%;
    top: 90%;
    z-index: 100;
    box-shadow:2px 2px 5px rgb(12, 12, 12);
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
}
.child {
    scroll-snap-align: start;

}
.cursor {
    width: 20px;
    height: 20px;
    border:2.5px solid greenyellow;
    border-radius: 50%;
    position: absolute;
    border-right-color: rgb(255, 0, 195);
    border-top-color: cyan;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    /* animation: rot .7s infinite forwards; */
        animation: rot .7s infinite alternate-reverse;
        z-index: 100;
}
@keyframes rot {
    form {
        transform: rotate(180deg);
    }
    to{ 
        transform: rotate(360deg);
    }
}


@keyframes zoom {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform:scale(1.1);
    }
    
}
@keyframes rot2 {
    form {
        transform: rotate(200deg);

    }
    to{ 
        transform: rotate(360deg);

    }
}
@keyframes clickk {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.expand {
    animation: clickk .5s forwards;
    border:1px solid rgb(79, 213, 52);
}
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 40px;
    backdrop-filter: blur(2px);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    

}
header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    list-style-type: none;
}
header  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin-right: 10px;
    background: rgb(101, 255, 55);
    border-radius:10% ;   
}
.glass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(https://wallpaperaccess.com/full/5179165.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    /* background-color: brown; */
}
.container {
    margin:2rem;
    width: 40%;
    min-height: 90vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    -webkit-perspective: 1000;
    animation: in 2s linear;
}
@keyframes in {
    0%  {
        
        transform: scale(.9);
    }
    40%{
        transform: scale(1.05);
    }
    100% {
        
        transform: scale(1);
    }
}
.card {
    position: relative;
    transform-style: preserve-3d;
    min-height: 80vh;
    height: 80vh;
    min-width: 16rem;
    width: 80%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 0 2rem;
    box-shadow: 0 5px 10px 0 rgba(53, 7, 7, 0.5) ;
    box-shadow: inset 0px 0px 7px 5px rgba(2, 2, 2, 0.5);
    border-left: 1px solid rgba(255,255,255,.6);
    /* transform: rotateX(60deg); */
    backdrop-filter: blur(2px);
    perspective: 1000px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
    margin-top: 1.1rem;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.pic img {
    
    width: 15rem;
    max-width: 500px;
    height: 15rem;
    max-height: 500px;
    border-radius: 50%;
    border: 3px solid rgb(110, 97, 97);
   
    transition: all .5s ease-out;
}
.info {
        display: grid;
        place-content: center;
        transition: all .2s ease-in-out;
        transform-style: preserve-3d;
        
}
.info h2 {
    font-size: .9rem;
    padding: 1rem 0rem;
    color:rgb(38, 179, 197);
    /* font-weight: lighter; */
    transition: all .2s ease-out;
    text-align: center;
    perspective: 1000px;
}
.info h1 {
    display:flex;
    justify-content: center;
    margin-top: 2rem;
    transition: all .5s ease-out;
   color: rgb(101, 255, 55);
    
}
.discription {
    
    transition: all 1s ease-out;
}

.sign {
    /* border: 2px solid black; */

    top:0;
    height: 5rem;
    margin-left: 80%;
    width: 6rem;

}
#stk { 
    stroke-width: 4px;
    stroke-dasharray: 4008;
    stroke-dashoffset: 4008;
    animation: sign 4s infinite alternate;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    stroke:rgb(231, 229, 229);
    stroke-linecap:round;
    stroke-linejoin:round;
    text-shadow:5px 5px rgb(255, 66, 66);
}
.cls-1 {
    fill: none;

}
@keyframes sign {
    from {
        stroke-dashoffset: 4008;
    }
    to {
        stroke-dashoffset:2004;
    }

}
.discription ul {
    display: flex;
    justify-content: space-evenly;

    width: 16rem;
}
.discription li {
    list-style: none;
    padding:1px;
    /* margin: spaced ; */
    /* outline:1px solid; */
    /* background: rgb(48, 48, 48); */
    border-radius: 1px;
    color: rgb(253, 63, 63);
    /* box-shadow: 2px 2px 5px 2px rgb(26, 25, 25); */
}


/* progression */
.read-progressions {
        height: 4px;
        background-image: linear-gradient( to right,rgb(98, 21, 221),magenta, red);
        width: 0;
        filter: blur(1px);
        top:0;
        position: sticky;
        z-index: 100;
}
/*  ..........      ......... */


.session_2
{ 
    

    height: 100vh;
    background: rgb(9, 68, 70);
    width: 100%;
    display:flex;
    padding-top: 60px;

}

.session_2 .personal_info {
    min-width: 10rem;
    height: 90%;
    background-color: rgba(100, 114, 121, 0.4);
    padding:2px;
    margin: 0 0 0 10px;
    border-radius: 20px;
}
.grades {
    height: 90%;
    width: 30%;
    background-color: rgba(2, 2, 2, 0.5);
    margin-left: 10px;
    border-radius:10px ;
}
/* 
.studies    {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
} */
.session_2 button {
    width: 100px;
    border: 0;
    color: rgb(157, 255, 127);
}
.session_2 .name {
background-color: rgba(112, 93, 7, 0.1);
    border-radius: 10px;
    border:black 1px solid ;
    width: 90%;
    height: 30px;
    text-align: center;
    margin: 5px;
    font-family: 'Righteous', cursive;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);

}
.session_2 .name:hover {
    cursor: pointer;
}
#engineering {
    background: rgb(0, 0, 0);
}

/*  MAPS MAPS MAPS MAPS MAPS MAPS MAPS MAPS MAPS */
.maps {
    height: 90%;
    width: 100%;
    background-color: rgb(121, 98, 98);
    display: block;
    border-radius: 20px;
    margin:0 10px;
    border:solid 5px rgb(211, 206, 206) 
}
.grades {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.grades .Institute h3 {
    text-align: center;
    color: cadetblue;
    font-family: 'Righteous', cursive;

}
.grades .Institute p {
    color: rgba(0, 0, 0, 0.7);
    font-family: cursive;
}


/*    */
.projects {
    height: 100vh;
    width: 100%;
    background:radial-gradient(circle at center,rgb(14, 13, 13) 0%, black 60%);
    /* padding-top:50px ; */
    text-align: center;
    z-index: -1;
    overflow-y: hidden;
}
.star {
 
    background: transparent;
  
    box-shadow: 
    142px 388px #fff, 572px 215px #fff, 1535px 296px #fff, 1419px 407px #fff,
    1379px 1003px #fff, 329px 469px #fff, 1791px 1652px #fff, 935px 1802px #fff,
    1330px 1820px #fff, 421px 1933px #fff, 828px 365px #fff, 275px 316px #fff,
    707px 960px #fff, 1605px 1554px #fff, 625px 58px #fff, 717px 1697px #fff,
    1669px 246px #fff, 1925px 322px #fff, 1154px 1803px #fff, 1929px 295px #fff,
    1248px 240px #fff, 1045px 1755px #fff, 166px 942px #fff, 1888px 1773px #fff,
    678px 1963px #fff, 1370px 569px #fff, 1974px 1400px #fff, 1786px 460px #fff,
    51px 307px #fff, 784px 1400px #fff, 730px 1258px #fff, 1712px 393px #fff,
    416px 170px #fff, 1797px 1932px #fff, 572px 219px #fff, 1557px 1856px #fff,
    218px 8px #fff, 348px 1334px #fff, 469px 413px #fff, 385px 1738px #fff,
    1357px 1818px #fff, 240px 942px #fff, 248px 1847px #fff, 1535px 806px #fff,
    236px 1514px #fff, 1429px 1556px #fff, 73px 1633px #fff, 1398px 1121px #fff,
    671px 1301px #fff, 1404px 1663px #fff, 740px 1018px #fff, 1600px 377px #fff,
    785px 514px #fff, 112px 1084px #fff, 1915px 1887px #fff, 1463px 1848px #fff,
    687px 1115px #fff, 1268px 1768px #fff, 1729px 1425px #fff,
    1284px 1022px #fff, 801px 974px #fff, 1975px 1317px #fff, 1354px 834px #fff,
    
    772px 270px #fff, 345px 1190px #fff, 478px 1433px #fff, 1479px 25px #fff,
    1994px 1830px #fff, 1744px 732px #fff, 20px 1635px #fff, 690px 1795px #fff,
    1594px 569px #fff, 579px 245px #fff, 1398px 733px #fff, 408px 1352px #fff,
    1774px 120px #fff, 1152px 1370px #fff, 1698px 1810px #fff, 710px 1450px #fff,
    665px 286px #fff, 493px 1720px #fff, 786px 5px #fff, 637px 1140px #fff,
    764px 324px #fff, 927px 310px #fff, 938px 1424px #fff, 1884px 744px #fff,
    913px 462px #fff, 1831px 1936px #fff, 1527px 249px #fff, 36px 1381px #fff,
    1597px 581px #fff, 1530px 355px #fff, 949px 459px #fff, 799px 828px #fff,
    242px 1471px #fff, 654px 797px #fff, 796px 594px #fff, 1365px 678px #fff,
    752px 23px #fff, 1630px 541px #fff, 982px 72px #fff, 1733px 1831px #fff,
    21px 412px #fff, 775px 998px #fff, 335px 1945px #fff, 264px 583px #fff,
    158px 1311px #fff, 528px 164px #fff, 1978px 574px #fff, 717px 1203px #fff,
    734px 1591px #fff, 1555px 820px #fff, 16px 1943px #fff, 1625px 1177px #fff,
    1236px 690px #fff, 1585px 1590px #fff, 1737px 1728px #fff, 721px 698px #fff,
    1804px 1186px #fff, 166px 980px #fff, 1850px 230px #fff, 330px 1712px #fff,
    95px 797px #fff, 1948px 1078px #fff, 469px 939px #fff, 1269px 1899px #fff,
    955px 1220px #fff, 1137px 1075px #fff, 312px 1293px #fff, 986px 1762px #fff,
    1103px 1238px #fff, 428px 1993px #fff, 355px 570px #fff, 977px 1836px #fff,
    1395px 1092px #fff, 276px 913px #fff, 1743px 656px #fff, 773px 502px #fff,
    1686px 1322px #fff, 1516px 1945px #fff, 1334px 501px #fff, 266px 156px #fff,
    455px 655px #fff, 798px 72px #fff, 1059px 1259px #fff, 1402px 1687px #fff,
    236px 1329px #fff, 1455px 786px #fff, 146px 1228px #fff, 1851px 823px #fff,
    1062px 100px #fff, 1220px 953px #fff, 20px 1826px #fff, 36px 1063px #fff,
    1525px 338px #fff, 790px 1521px #fff, 741px 1099px #fff, 288px 1489px #fff,
    700px 1060px #fff, 390px 1071px #fff, 411px 1036px #fff, 1853px 1072px #fff,
    1446px 1085px #fff, 1164px 874px #fff, 924px 925px #fff, 291px 271px #fff,
    1257px 1964px #fff, 1580px 1352px #fff, 1507px 1216px #fff, 211px 956px #fff,
    985px 1195px #fff, 975px 1640px #fff, 518px 101px #fff, 663px 1395px #fff,
    914px 532px #fff, 145px 1320px #fff, 69px 1397px #fff, 982px 523px #fff,
    257px 725px #fff, 1599px 831px #fff, 1636px 1513px #fff, 1250px 1158px #fff,
    1132px 604px #fff, 183px 102px #fff, 1057px 318px #fff, 1247px 1835px #fff,
    1983px 1110px #fff, 1077px 1455px #fff, 921px 1770px #fff, 806px 1350px #fff,
    1938px 1992px #fff, 855px 1260px #fff, 902px 1345px #fff, 658px 1908px #fff,
    1845px 679px #fff, 712px 1482px #fff, 595px 950px #fff, 1784px 1992px #fff,
    1847px 1785px #fff, 691px 1004px #fff, 175px 1179px #fff, 1666px 1911px #fff,
    41px 61px #fff, 971px 1080px #fff, 1830px 1450px #fff, 1351px 1518px #fff,
    1257px 99px #fff, 1395px 1498px #fff, 1117px 252px #fff, 1779px 597px #fff,
    1346px 729px #fff, 1108px 1144px #fff, 402px 691px #fff, 72px 496px #fff,
    1673px 1604px #fff, 1497px 974px #fff, 1865px 1664px #fff, 88px 806px #fff,
    918px 77px #fff, 244px 1118px #fff, 256px 1820px #fff, 1851px 1840px #fff,
    605px 1851px #fff, 634px 383px #fff, 865px 37px #fff, 943px 1024px #fff,
    1951px 177px #fff, 1097px 523px #fff, 985px 1700px #fff, 1243px 122px #fff,
    768px 1070px #fff, 468px 194px #fff, 320px 1867px #fff, 1850px 185px #fff,
    380px 1616px #fff, 468px 1294px #fff, 1122px 1743px #fff, 884px 299px #fff,
    1300px 1917px #fff, 1860px 396px #fff, 1270px 990px #fff, 529px 733px #fff,
    1975px 1347px #fff, 1885px 685px #fff, 226px 506px #fff, 651px 878px #fff,
    1323px 680px #fff, 1284px 680px #fff, 238px 1967px #fff, 911px 174px #fff,
    1111px 521px #fff, 1150px 85px #fff, 794px 502px #fff, 484px 1856px #fff,
    1809px 368px #fff, 112px 953px #fff, 590px 1009px #fff, 1655px 311px #fff,
    100px 1026px #fff, 1803px 352px #fff, 865px 306px #fff, 1077px 1019px #fff,
    1335px 872px #fff, 1647px 1298px #fff, 1233px 1387px #fff, 698px 1036px #fff,
    659px 1860px #fff, 388px 1412px #fff, 1212px 458px #fff, 755px 1468px #fff,
    696px 1654px #fff, 1144px 60px #fff;

    z-index: -1;
  
}

.star2 {
    width: 1px;
    height: 1px;
    transform: translateX(50px);
    animation: glowstar 1s alternate ease-in-out infinite ;
  
 
}


@keyframes glowstar {
    from {
        opacity: 1;
  
    }
    to {
        opacity: .5;
    }
    
}

.projects h1 {
    font-family: 'Righteous', cursive;
    color:red;
    /* margin-bottom: 10px; */


}
.projects .box {
    width: 500px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    background-color: rgba(58, 225, 255, 0.1);
    margin: 0px 30px;
    border: black solid 2px;
   /* box-shadow:10px 10px 20px rgb(39, 41, 40);*/
    border-radius: 5px;
    padding-bottom: 100px;
    margin-top: 56px;
    margin-left: 35px;
    transition: 1s;


}
.projects .box:hover li img {
    animation: rotatelogo .5s ease-in-out forwards ;
} 
.projects .box:hover h2 {
    color: rgb(243, 45, 45);
}
.projects .box:hover {
    transform: scale(1.2);
    background-color: rgba(250, 41, 41, 0.4);

}
@keyframes rotatelogo {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
.projects .container1 h2 {
    color:  rgb(88, 88, 88);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 10%;
    margin:60px 0;
    padding: 0;
}
.projects .container1 {
    width: 100%;
    height: 90%;
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll ;
    white-space: nowrap;
    scrollbar-color: rgb(255, 9, 9) black;

}
.projects ul {

    height: 50%;
    width: 100%;
}
.projects ul li {
    color: rgb(205, 207, 207);
}

.projects a img {

border-radius:5px;
    margin: 50px;
    box-shadow: 2px 2px 4px black;
    
}
.projects img:hover {
    background-color: rgb(250, 46, 32);
}



.hobbies {
    scroll-snap-align: start;
    min-height: 100vh;
    width:100%;
    background-color: rgb(20, 23, 32);
    padding-top:50px;
}


.hobbies .head {
    display: flex;
align-items: center;
justify-content: center;
}
.hobbies img  {
    animation: tilt .8s ease-in-out infinite alternate;
    
}
@keyframes tilt {
    from {
        rotate: 10deg;
        opacity: 0.5;
    }
    to {
        rotate: -10deg;
        opacity: 1;
    }
}
.hobbies .text, span {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 2rem ;
    font-size: 1.5rem;
    
}
.hobbies audio {
    background-color: rgb(10, 102, 163);
    z-index: 100;
    width: 600px;
    margin:2rem;
    border-radius: 10px;
    
}
.hobbies a img {
    animation: none;
    margin-bottom: 2rem;
    margin-right: 1rem;

}
.hobbies span {
    position:absolute;
    margin: 2.8rem 0;


}
